/* style="background-image:url(''); background-size:cover; background-position:center;" */


.about-us{
    background: linear-gradient(rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.555)), url('https://images.unsplash.com/photo-1523275335684-37898b6baf30');
    background-position: center;
    background-size: cover;
}

.about-active{
    color: blue;
}