<app-navbar></app-navbar>


<section class="bg-dark about-us text-white py-5">
    
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-8">
                <h1 class="fw-bold display-5">About Prime Watches</h1>
                <p class="lead mt-3">
                    Timeless craftsmanship meets modern precision.
                </p>
                <p>
                    Prime Watches creates premium timepieces designed for those
                    who value elegance, durability, and performance.
                </p>
                <a href="#" class="btn btn-outline-light mt-3">
                    Discover More
                </a>
            </div>
        </div>
    </div>

</section>

<!-- =============== -->

<!-- About Us Section -->
<div class="container py-5">
  <div class="row align-items-center g-4 p-3">

    <!-- Left Content -->
    <div class="col-lg-6">
      <h2 class="fw-bold">About Prime Watches</h2>
      <p class="mt-3">
        Prime Watches is committed to designing exceptional timepieces that embody sophistication, accuracy, and enduring appeal. Every watch is thoughtfully crafted using high-quality materials and refined detailing, ensuring a perfect balance between modern innovation and classic elegance for individuals who appreciate timeless luxury.
      </p>
      <p class="mt-3">
        At Prime Watches, we believe a watch is more than a timekeeping device—it is a statement of style and confidence. Our collections are created with precision engineering and artistic excellence, delivering reliable performance, lasting durability, and a refined aesthetic suited for both everyday wear and special occasions.
      </p>
      <button class="btn btn-dark mt-2">
        Explore Now
      </button>
    </div>

    <!-- Right Image -->
    <div class="col-lg-6 text-center">
      <img
        src="https://images.unsplash.com/photo-1523275335684-37898b6baf30"
        class="img-fluid rounded"
        alt="Prime Watches"
      >
    </div>

  </div>
</div>


<!-- ================== -->


<!-- Mission & Vision Section -->
<div class="container pb-5 mb-5">
  <div class="row text-center g-4">

    <!-- Mission -->
    <div class="col-md-6 d-flex ">
      <div class="border p-4 w-100 bg-secondary bg-opacity-25">
        <h4 class="fw-bold">Our Mission</h4>
        <p class="mt-3">
          To deliver high-quality watches that combine innovation,
          craftsmanship, and modern design for every lifestyle.
        </p>
      </div>
    </div>

    <!-- Vision -->
    <div class="col-md-6 d-flex">
      <div class="border p-4 w-100 bg-secondary bg-opacity-25">
        <h4 class="fw-bold">Our Vision</h4>
        <p class="mt-3">
          To become a globally trusted watch brand known for
          excellence, durability, and timeless appeal.
        </p>
      </div>
    </div>

  </div>
</div>



<app-footer></app-footer>