


.contact-us{
    background: linear-gradient(rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.555)), url('https://images.unsplash.com/photo-1559041891-4da9154178aa?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
}

/* Fade & slide animation */
.animate-img {
  animation: slideLeft 1s ease;
}

.animate-form {
  animation: slideRight 1s ease;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
